%p
  = f.label :organization_id
  = f.text_field :organization_id, :class => 'remote_select', :metadata => { :get => linein_url ( :organizations_path ) }.to_json
  = link_to "new", linein_url(:new_organization_path), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.new_organization)' }.to_json
  = link_to "edit", linein_url(:edit_organization_path, f.object.organization_id), :class => 'remote_sidebar js-staging edit_select_target', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.edit_organization)' }.to_json
%p
  = f.label :current_balance
  = f.text_field :current_balance, :size => 15

- unless f.object.new_record?
  #people_block.remote_block
    %fieldset#contacts_list.remote_content
      %legend People
      %ul
        - for person in f.object.people_list
          - contact = f.object.account_people.find_by_person_id( person.id )
          %li
            = link_to person.name, linein_url( :edit_person_path, person ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.edit_person)' }.to_json
            = link_to 'affiliation', edit_account_person_path( contact ), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(form.edit_account_person)' }.to_json
      = link_to "new contact", linein_url( :new_organization_person_path, f.object.organization_id ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.new_person)' }.to_json
      = link_to "add affiliation", linein_url( :new_account_account_person_path, f.object ), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(form.new_account_person)' }.to_json

#contracts_block.remote_block
  %fieldset.remote_content
    %legend Contracts
    %ul
      - for contract in f.object.contracts
        %li
          .contract
            = link_to contract.contract_type, linein_url( :edit_contract_path, contract ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.edit_contract)' }.to_json
            = link_to 'line items', contract_line_items_path(contract), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(#line_items)' }.to_json
            = link_to 'add', new_contract_line_item_path(contract), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(form#new_line_item)' }.to_json
          .project
            Project:
            = link_to contract.name, linein_url( :edit_project_path, contract.project_id ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.edit_project)' }.to_json

#line_items_block.remote_block
  %fieldset.remote_content
    %legend Unresolved Line Items
    %ul
      - for line_item in f.object.line_items.outstanding
        %li
          $
          = "%0.2f" % line_item.final_amount
          = link_to line_item.name, edit_line_item_path( line_item ), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(form.edit_line_item)' }.to_json

= link_to 'new invoice', new_account_invoice_path( f.object ), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(form.new_invoice)' }.to_json

- content_for :sidebar do
  #sidebar_inset.js-staging

-content_for :dom_ready do
  :plain
    //account_person name select
    #{ render :partial => 'account_people/form_script' }

    //remote_sidebar
    $('.remote_sidebar').livequery('click', function() {
      var meta = $(this).metadata();
      $('#sidebar_inset').load( $(this).attr('href') + ' '  + meta.selector, function( response ) {
        $('#sidebar_inset').show('slow');
        $('#sidebar_inset').each( RD.ui.remote_connect( meta.remote_domain ) );
      });
      return false;
    } );

    //remote blocks
    $('.remote_block').bind( 'refresh', function() {
      $(this).load( window.location + ' #' + $(this).attr('id') + ' .remote_content' );
    } );


    //submit sidebar
    $('#sidebar_inset form:not(#new_person):not(#new_organization)').livequery('submit', function() {
      $(this).fn( RD.remote_form( { response: function( response ) {
        $('.remote_block').trigger('refresh');
        $('.remote_select').trigger('refresh');
        $('#sidebar_inset *').remove();
      } } ) );
      $(this).fn('submit', 'json');
      return false;
    } );
  
    //submit new linked person
    $('form#new_linked_person').livequery('submit', function() {
      $(this).fn( RD.remote_form( { response: function( response ) {
        $('#people_block').trigger('refresh');
      }} ));
      return $(this).fn('submit', 'json');
    } );

    //submit new person
    $( '#sidebar_inset form#new_person' ). livequery ( function() {
      $( this ) .fn( RD.remote_form( { response:  function( response ) {
        if( response.person.id ) {
          $( 'form#new_linked_person #account_person_person_id' ).val( response.person.id );
          $( 'form#new_linked_person' ).submit();
        }
        $( '#sidebar_inset *' ).remove();
      }}));
      $( this ) .submit( function() { return $( this ).fn('submit', 'json'); } );
    } );

    $('.remote_select').livequery('refresh', function( ev, updated_value )  {
      $(this).next('.remote_select_block').remove();
      if( updated_value !== undefined ) {
        $(this).val( updated_value );
      }
      RD.ui.load_remote_select.call(this);
    } );

    //submit new organization
    $('#sidebar_inset form#new_organization').livequery( function() {
      $(this).fn( RD.remote_form( { response: function( response ) {
        $('#account_organization_id').trigger('refresh', response.organization.id );
        $('#sidebar_inset *').remove();
      }}));
      $(this).submit( function() { return $(this).fn('submit', 'json'); } );
    } );

    //delete link
    $('.show_delete_block').livequery( 'click', function() { $(this).next('.delete_block').toggle(); return false; } ); 

    //edit selected
    $('.edit_select_target').livequery( 'refresh', function(ev) {
      var updated = $(this).parent().find('.remote_select').val(); 
      if( updated !== undefined && updated !== '' ) {
        $(this).attr('href', $(this).attr('href').replace( /\/\d+\//, '/' + updated + '/'));
        $(this).show();
      } else if ( this !== undefined ) {
        $(this).hide();
      }
    } );
