%p
  = f.label :organization_id
  = f.text_field :organization_id, :class => 'remote_select', :metadata => { :get => linein_url ( :organizations_path ) }.to_json
  = link_to "new", linein_url(:new_organization_path), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.new_organization)' }.to_json
%p
  = f.label :current_balance
  = f.text_field :current_balance, :size => 15

- unless f.object.new_record?
  #contacts_block
    %fieldset#contacts_list
      %legend People
      %ul
        - for person in f.object.people_list
          - contact = f.object.account_people.find_by_person_id( person.id )
          %li
            = link_to person.name, linein_url( :edit_person_path, person ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.edit_person)' }.to_json
            = link_to 'affiliation', edit_account_person_path( contact ), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(form.edit_account_person)' }.to_json
      = link_to "new contact", linein_url( :new_organization_person_path, f.object.organization_id ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.new_person)' }.to_json
      = link_to "add affiliation", linein_url( :new_account_account_person_path, f.object ), :class => 'remote_sidebar', :metadata => { :selector => '.ui-block:has(form.new_account_person)' }.to_json

%fieldset#contracts_list
  %legend Contracts
  %ul
    - for contract in f.object.contracts
      %li
        = link_to contract.name, linein_url( :edit_project_path, contract.project_id ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.edit_project)' }.to_json
        = link_to contract.contract_type, linein_url( :edit_contract_path, contract ), :class => 'remote_sidebar', :metadata => { :remote_domain => linein_host, :selector => '.ui-block:has(form.edit_contract)' }.to_json

- content_for :sidebar do
  #sidebar_inset.js-staging

-content_for :dom_ready do
  :plain
    //account_person name select
    #{ render :partial => 'account_people/form_script' }

    //remote_sidebar
    $('.remote_sidebar').livequery('click', function() {
      var meta = $(this).metadata();
      $('#sidebar_inset').load( $(this).attr('href') + ' '  + meta.selector, function( response ) {
        $('#sidebar_inset').show('slow');
        if( meta.remote_domain !== undefined ) {
          $('#sidebar_inset a').each( RD.ui.remote_connect( meta.remote_domain, 'href' ) );
          $('#sidebar_inset form').each( RD.ui.remote_connect( meta.remote_domain, 'action' ) );
        }
      });
      return false;
    } );

    //contacts list
    $('#contacts_block').bind( 'refresh', function() {
      $(this).load( window.location + ' #contacts_list' );
    } );


    //submit sidebar
    $('#sidebar_inset form[id*=person]:not(#new_person):not(#new_organization)').livequery('submit', function() {
      $(this).fn( RD.remote_form( { response: function( response ) {
        $('#contacts_block').trigger('refresh');
        $('#sidebar_inset *').remove();
      } } ) );
      $(this).fn('submit', 'json');
      return false;
    } );
  
    //submit new linked person
    $('form#new_linked_person').livequery('submit', function() {
      $(this).fn( RD.remote_form( { response: function( response ) {
        $('#contacts_block').trigger('refresh');
      }} ));
      return $(this).fn('submit', 'json');
    } );

    //submit new person
    $( '#sidebar_inset form#new_person' ). livequery ( function() {
      $( this ) .fn( RD.remote_form( { response:  function( response ) {
        if( response.person.id ) {
          $( 'form#new_linked_person #account_person_person_id' ).val( response.person.id );
          $( 'form#new_linked_person' ).submit();
        }
        $( '#sidebar_inset *' ).remove();
      }}));
      $( this ) .submit( function() { return $( this ).fn('submit', 'json'); } );
    } );

    //submit new organization
    $('#sidebar_inset form#new_organization').livequery( function() {
      $(this).fn( RD.remote_form( { response: function( response ) {
        if( response.organization.id ) {
          $('#account_organization_id.remote_select').next('.remote_select_block').remove();
          $('#account_organization_id.remote_select').val( response.organization.id ).each( RD.ui.load_remote_select );
        }
        $('#sidebar_inset *').remove();
      }}));
      $(this).submit( function() { return $(this).fn('submit', 'json'); } );
    } );

    //delete link
    $('.show_delete_block').livequery( 'click', function() { $(this).next('.delete_block').toggle(); return false; } ); 

